*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;;
  overflow-x: hidden;
  position: relative;
  background-color: var(--bg-color);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--color-link);
}

a:hover {
  text-decoration: none;
}

p,
ul,
ol {
  margin: 0 0 1.65em 0;
}

p,
li {
  line-height: 1.65;
}

.daterangepicker {
  top: rem(160) !important;
}