// If you want use rem to px function define this in pixels exclude 'px'
$base-font-size: 16;

// Grid
$grid-gutter-width: 30px;

// Grid breakpoints
$xs: 375px;
$sm: 600px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
$xxxl: 1920px;

// Fonts
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

//vars 
:root {
  --bg-color: hsl(220, 23%, 98%);
  --bg-label: 	hsl(220, 13%, 95%);
  --status-filter: hsl(217, 9%, 46%);
  --border-color: hsl(240, 4%, 91%);
  --shadow-color: hsla(0, 0%, 50%, 0.1);
  --color-table-header: hsl(0, 0%, 60%);
  --table-text-color: hsl(0, 0%, 30%);
  --color-outgoing: 	hsl(228, 11%, 91%);
  --color-verified: 	hsl(157, 46%, 53%);
  --color-pending: 		hsl(35, 100%, 60%);
  --color-button: hsl(35, 100%, 60%);
  --color-button-hover: hsl(35, 100%, 40%);

  --color-link: hsl(237, 100%, 50%);
}