.invoice-table {

  label {
    cursor: pointer;

    &:not(.js--select-all) {
      pointer-events: none;
    }
  }
  

  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
  
    &+span::before {
      display: block;
      content: "";
      width: rem(22);
      height: rem(22);
      border: solid rem(1) grey;
      text-align: center;
      border-radius: rem(3);
      font-size: rem(22);
      line-height: rem(16);
      position: relative;
      margin: 0 auto;
      
    }

    &:checked+span::before {
      border-color: grey;
      color: blue;
      content:"\2713";
    }
  }
}