.filters {

  &__container {
    margin: 0 auto rem(26);
    display: flex;
  
    @include media-breakpoint-up(lg) {
      width: rem(1200);
    }
  
    @include media-breakpoint-up(xxxl) {
      width: rem(1700);
    }
  }

  &__status {
    display: flex;
    align-items: center;
    gap: rem(10)
  }

  &__status-filter {
    color: var(--status-filter);
    text-transform: uppercase;
    padding: rem(10) rem(12);
    border-radius: rem(8);
    cursor: pointer;

    &--active {
      background-color: var(--status-filter);
      color: #fff;
    }
  }



  &__dates {
    display: flex;
    margin-left: auto;
    border: 1px solid var(--border-color);
    border-radius: rem(8);
    overflow: hidden;

    input {
      width: rem(345);
      height: rem(56);
      font-size: rem(28);
      padding-left: rem(15);
      border: none;
    }
  }

  &__dates-label {
    width: rem(140);
    height: 100%;
    background-color: var(--bg-label);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(22);

    &::before {
      display: block;
      content: "";
      background: url(../images/calendar-icon.jpg) left center no-repeat;
      width: rem(40);
      height: 100%;
    }
  }

  &__search {
    position: relative;
    margin-left: rem(28);

    svg {
      position: absolute;
      width: rem(30);
      height: rem(30);
      top: rem(13);
      left: rem(16);
      color: var(--color-table-header);
    }

    input {
      width: rem(310);
      height: rem(58);
      font-size: rem(28);
      padding-left: rem(58);
      border: 1px solid var(--border-color);
      border-radius: rem(8);
    }
  }

  &__paid-btn {
    margin-left: rem(22);
    background-color: var(--color-button);
    color: #fff;
    font-size: rem(22);
    border: none;
    border-radius: rem(8);
    cursor: pointer;
    padding: 0 rem(30);
    transition: background-color .2s ease;

    &:hover {
      background-color: var(--color-button-hover);
    }
  }
}