.invoice-table {

  &__container {
    margin: 0 auto;
    background-color: #fff;
  
    @include media-breakpoint-up(lg) {
      width: rem(1200);
    }
  
    @include media-breakpoint-up(xxxl) {
      width: rem(1700);
    }
  }

  &__row,
  &__table-header {
    display: grid;
    grid-template-columns: rem(40) rem(90) rem(270) rem(115) rem(115) rem(115) rem(115) rem(115) rem(115) 1fr;
    align-items: center;

    @include media-breakpoint-up(xxxl) {
      grid-template-columns: rem(90) rem(135) rem(388) rem(160) rem(172) rem(167) rem(149) rem(145) rem(148) 1fr;
    }
  }

  &__table-header {
    height: rem(60);
    border-radius:  rem(8) rem(8) 0 0;
    border: 1px solid var(--border-color);
    

    div {
      text-transform: uppercase;
      font-size: rem(16);
      font-weight: $font-weight-medium;
      color: var(--color-table-header);

      @include media-breakpoint-up(xxxl) {
        font-size: rem(18);
      }
    }
  }

  &__row {
    position: relative;
    height: rem(76);
    font-size: rem(16);
    border: 1px solid var(--border-color);
    color: var(--table-text-color);
    background-color: #fff;
    cursor: pointer;
    transform: scale(1);
    transition: all .2s ease;
    opacity: 0;

    @include media-breakpoint-up(xxxl) {
      font-size: rem(22);
    }

    &:hover {
      transform: scale(1.02);
      z-index: 2;
      box-shadow: 0 rem(25) rem(60) var(--shadow-color);
    }
  }

  &__restaurant {
    display: flex;
    align-items: center;
    color: #000;

    img {
      border-radius: rem(8);
      margin-right: rem(14);
    }
  }

  &__status {

    div {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: rem(14);
      text-transform: uppercase;
      font-weight: 600;
      height: rem(28);
      padding: 0 rem(15);
      border-radius: rem(20);

      @include media-breakpoint-up(xxxl) {
        font-size: rem(18);
      }
    }

    &--outgoing {
      
      div {
        background-color: var(--color-outgoing);
      }
    }

    &--verified {
      
      div {
        background-color: var(--color-verified);
        color: #fff;
      }
    }

    &--pending {
      
      div {
        background-color: var(--color-pending);
        color: #fff  ;
      }
    }
  }

  &__paid {
    font-size: rem(13);
    margin-left: rem(15);
    color: #fff;
    background: var(--color-paid);
    padding: rem(5) rem(13);
    border-radius: rem(15);
  }
}