.ci-pagination {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 0 0 rem(8) rem(8);

  &__navigation {
    margin-left: auto;

    ul {
      list-style: none;
      display: flex;
      border: 1px solid var(--border-color);
      border-radius: rem(4);
      margin: rem(25);

      li {
        display: flex;
        color: var(--color-table-header);
        font-size: rem(16);
        width: rem(28);
        height: rem(28);
        align-items: center;
        justify-content: center;
        font-weight: $font-weight-semibold;

        @include media-breakpoint-up(xxxl) {
          font-size: rem(22);
          width: rem(38);
          height: rem(38);
        }
        
        &:not(:last-child) {
          border-right: 1px solid var(--border-color);
        }

        &.active {
          cursor: pointer;
        }

        &.selected {
          background-color: var(--color-active-pag);
          color: #000;
        }

        &.inactive {
          color: var(--color-inactive-pag);
        }
      }
    }
  }

  &__page-of {
    display: flex;
    color: var(--color-table-header);
    font-size: rem(14);
    align-items: center;
    margin-left: rem(25);
    text-transform: uppercase;

    @include media-breakpoint-up(xxxl) {
      font-size: rem(16);
    }
  }
}